/*** Matej Kocevar ***/


html{
    font-family: 'Catamaran', sans-serif;
}

body{
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{

}

.kontejner{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.sredina{
    display: table-cell;
    vertical-align: middle;
}

.vsebina{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
@media (max-width: 767px)  {
    .vsebina{
        width: auto;
    }
}

.logo{
    width: 300px;
    height: 300px;
    position: relative;
}

.okvir{
    border: 10px solid ;
    background-size: 100%;
    height: 300px;
    width: 300px;
}
.M{
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 75px solid black;
    left: 47.5px; /* (300-150-75)/2+10px */
    top: 85px; /* 75px +10px */
    position: absolute;
    float: left;
    transform: translate(25%,100%);
}
.M.premik{
    animation: premikM 4s 0s forwards;
}

.K{
    height: 150px;
    width: 75px;
    position: absolute;
    right: 47.5px; /* (300-150-75)/2+10px */
    bottom: 85px; /* 75px +10px */
}
.K1{
    width: 0;
    height: 0;
    border-bottom: 75px solid transparent;
    border-left: 75px solid black;
    float: right;
    transform: translate(-152%,-4%) rotate(180deg); /* 2*2% in 4% odmik */
}
.K1.premik{
    animation: premikK1 4s 0s forwards;
}

.K2 {
    width: 0;
    height: 0;
    border-bottom: 75px solid transparent;
    border-left: 75px solid black;
    float: right;
    transform: translate(-48%,-104%) rotate(270deg); /* 2*2% in 4% odmik */
}
.K2.premik{
    animation: premikK2 4s 0s forwards;
}

.gumbPotrdi{
    margin-top: 100px;
    border: 0;
    font-family: 'Catamaran', sans-serif;
    font-size: 50px;
    width: 320px;
}

/*Animacije*/
@keyframes premikM {
    from {
        transform: translate(25%,100%);
    }
    to {
        transform: translate(0%,0%);
    }
}
@keyframes premikK1 {
    from {
        transform: translate(-152%,-4%) rotate(180deg);
    }
    to {
        transform: translate(0%,0%) rotate(0deg);
    }
}
@keyframes premikK2 {
    from {
        transform: translate(-48%,-104%) rotate(270deg);
    }
    to {
        transform: translate(0%,0%) rotate(270deg);
    }
}